---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('2025-08-24')}
>
	<p>
	Hey there 👋,
	I'm Simone Fiorentini, a web dev based in Helsinki, Finland.
	</p>

	<p>
	I've worked a lot with JS-based stacks, so tools like NextJS, React, TypeScript, Express etc. I also have some experience working with WordPress and PHP templating languages like Twig.
	Some of the projects I worked on before include: full stack e-commerce maintanance, site rebrandings, automation of content production, SEO and analytics data improvement and more. You can read more about it in my resume.
	</p>

</Layout>
