---
import HeaderLink from './HeaderLink.astro'
import OldManNpm from '../assets/old_man_yells_at_npm.png'
import OldManCloudflare from '../assets/old_man_yells_at_cloudflare.png'
import OldManK8s from '../assets/old_man_yells_at_k8s.png'
import OldManPython from '../assets/old_man_yells_at_python.png'

export const headerImgs = [OldManNpm, OldManCloudflare, OldManK8s, OldManPython]
const headerImg = headerImgs[Math.floor(Math.random() * headerImgs.length)]
---

<header class="box">
	<button id="header-img-btn">
		<img
			class="header-img"
			id="header-img"
			src={headerImg.src}
			alt="header image"
		/>
	</button>
</header>

<script>
	import { headerImgs } from './Header.astro'
	const btn = document.getElementById('header-img-btn')
	const img = document.getElementById('header-img')
	if (btn && img) {
		btn.addEventListener('click', () => {
			let newSrc
			do {
				newSrc =
					headerImgs[Math.floor(Math.random() * headerImgs.length)]
						.src
			} while (newSrc === img.src)
			img.src = newSrc
		})
	}
</script>
<nav class="internal-links box">
	<HeaderLink href="/" class="link">Home</HeaderLink>
	<HeaderLink href="/blog" class="link">Blog</HeaderLink>
	<HeaderLink href="/about" class="link">About</HeaderLink>
</nav>

<style>
	header {
		grid-column: span 1;
		display: flex;
		justify-content: center;
	}
	header a {
		font-size: var(--font-step-2);
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--grid-gutter);
	}
	.internal-links {
		display: grid;
		align-items: stretch;
		grid-template-columns: repeat(3, 1fr);
		grid-column: span 11;
	}
	.link {
		display: grid;
		justify-items: center;
		align-items: center;
		flex: 1;
	}
	header img {
		height: var(--space-xl);
	}
	#header-img-btn {
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		width: 100%;
		height: 100%;
		padding: var(--grid-gutter);
	}
	@media (pointer: fine) {
		#header-img-btn:hover {
			background: var(--bg-dark);
		}
	}

	@media (max-width: 600px) {
		header {
			justify-content: start;
		}
		.internal-links {
			padding: var(--grid-gutter);
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
	}
</style>
